html, body{
    background: white;
    font-family: "Microsoft Yahei";
}

.btn {
    font-family: "Microsoft Yahei";
}

.brand small{
    font-size:9px;
}

span.user-name{
    color: #ccc;
    display: block;
    line-height: 40px;
    height: 40px;
    margin: 0 10px;
}


.sidebar {
    .pagination{
        input{
            width: 20px;
        }
        li{
            a{
                padding: 0px 10px 0 10px;
            }

        }
    }

    #token_list{
        li{
            line-height:25px;
            font-size:14px;
            border-bottom: 1px dashed #ddd;

            a{
                padding-left: 10px;
                padding-right: 10px;
                display:block;
            }
            a[disabled] {
                color: grey;
            }
        }
        li.active, li:hover{
            background: #0088D3;

            a {
                color: white;
                text-decoration:none;
            }

        }

        li:hover{

        }
    }
}


#login-page{
    form#login{
        margin-top: 30px;
        #info .controls {
            &.error {
                color: red;
            }
        }
    }
}

#tokens-page {

}

#coreexp-page {
    .left-box .wrap{
        padding-bottom: 10px;
        position: relative;

        .progress{

            .numbers{
                position: absolute;
                text-align:right;
                right: 0px;
                color: black;
                font-size: 9px;
                padding-right: 10px;
            }
        }


        h1{
            text-align:center;
            font-weight: normal;
            margin: 0px;
            padding: 0px;
            line-height: 28px;
            height: 28px;
            font-size: 28px;
        }

        p {
            text-align:center;
            margin: 5px auto;
            span.en{
                display:block;
            }
            color: #bbb;
        }

        h2.cn:hover {
//            cursor: text;
//            background: #eee;
        }

        .cn {
            text-align:center;
            font-weight: normal;
            margin: 0 auto;
            padding: 0px;
            line-height:28px;
            height:28px;
            font-size: 28px;
            display: block;
            width: 90%;
        }

        .buttons {
            text-align:center;
            margin-top: 20px;

            .btn {
                width: 40%;
                padding-left: 8px;
                padding-right: 8px;
            }
        }

        #object-reasons {
            text-align:center;
            .btn, input {
                width: 80%;
                margin-top: 10px;
                padding-left: 0px;
                padding-right: 0px;
            }
            input {
                height: 30px;
                line-height: 28px;
                text-align:center;
                margin-bottom:0px;
            }
        }


        #select-view {

        }
        #edit-view{
        }

    }

}


#freq_modal{
    #freq_list{
        height:250px;
        overflow-y: scroll;
        li{
            list-style:none;
            .freq{
                display:inline-block;
                width:100px;
            }
        }
    }
}

#freq_20k_pane table {
    td.freq{
        width: 100px;
    }
}

#sentences_form {
    table {
        tr.banned td {
            color: #ccc;
        }
    }
}

