{% extends "layout.html" %}

{% block main %}

{% from 'macros.html' import pagination %}

<div id="coreexp-list-page" class="container ">

    <ul class="nav nav-pills pull-left">
        <li><a href="javascript:" data-tags="-full,-hidden">进行中</a></li>
        <li><a href="javascript:" data-tags="full">已集齐</a></li>
        <li><a href="javascript:" data-tags="hidden">已隐藏</a></li>
        <li><a href="javascript:" data-tags="all">全部</a></li>
    </ul>

    <div class="pull-right">{{ pagination( pager.current, pager.total ) }}</div>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 180px;">单词</th>
                <th>结果</th>
            </tr>
        </thead>
        <tbody>
            {% for ce in ce_list %}
            <tr>
                <td class="en">
                    <h3><a href="{{url_for('.show', en=ce.en)}}" target="_blank">{{ce.en}}</a></h3>
                    <span class="label {% if 'hidden' in ce.tags %}label-success{% endif %}"
                          data-id="{{ce._id}}"
                          data-tag="hidden"
                    >隐藏</span>
                </td>
                <td class="answer">
                    <a class="logs-link" rel="tooltip" href="javascript:"
                       data-title="logs" data-placement="left"
                       data-content="{{ ce.log_text }}">logs</a>
                    <ul>
                    {% for option in ce.ordered_options %}
                        <li>
                            <p>
                                <span class="cn">
                                    {% if option.cn %}
                                    {{option.cn}}
                                    {% else %}
                                    （无答案）
                                    {% endif %}
                                </span>

                                <a href="javascript:" {% if option.tag == 'best' %} class="tagged" {% endif %}
                                   data-option="{{option.cn}}" data-tag="best" data-id="{{ce._id}}">最佳</a>
{#                                <a href="javascript:" {% if option.tag == 'bad' %} class="tagged" {% endif %}#}
{#                                   data-option="{{option.cn}}" data-tag="bad" data-id="{{ce._id}}">最差</a>#}
                                <a href="javascript:"
                                data-option="{{option.cn}}" data-tag="" data-id="{{ce._id}}">None</a>
                            </p><br/>

                            {% set voter_count = option.voters|length %}
                            <span class="label {% if voter_count>0 %}label-warning{% endif %} {{option.tag}}"
                                  style="width:{{voter_count * 10 + 8}}px">
                                {{voter_count }}
                            </span>
                            <p class="voters">{{option.voters | join(', ')}}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pull-right">{{ pagination( pager.current, pager.total ) }}</div>

</div><!--/.container-->

{% endblock %}


{% block bottom %}
<script type="text/javascript" src="/static/js/coreexp-list.js"></script>
{% endblock %}