{% extends "layout.html" %}

{% block main %}


<div id="coreexp-scores-page" class="container ">

    <table class="table">
        <thead>
            <tr>
                <th>排名</th>
                <th>用户</th>
                <th>总分</th>
                <th>耗时</th>
                <th>有效投票</th>
                <th>参与单词</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <td>{{loop.index}}</td>
                <td>
                    <a href="{{ url_for('.list_ce',user=score.user) }}" target="_blank">
                        {{score.user}}
                    </a>
                </td>
                <td>{{score.score}}</td>
                <td>{{ '%.2f'| format(score.details.seconds / 60)}} m</td>
                <td>{{score.details.vote}}</td>
                <td>{{score.details.total}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div><!--/.container-->

{% endblock %}


{% block bottom %}
<!--<script type="text/javascript" src="/static/js/coreexp-page.js"></script>-->
{% endblock %}