{% extends "layout.html" %}

{% block main %}

<div id="coreexp-page" class="container "><div class="row">

    <div class="span6 left-box">
        <div class="wrap">
            <input type="hidden" id="_id" name="_id" value="{{ce._id}}">
            <div class="progress">
                {% set progress = '%0.2f' % (100.0 * (edit_count+vote_count) / total) %}
                <span class="numbers">{{progress}}% ( {{vote_count}}+{{edit_count}} of {{total}} )</span>
                <div class="bar" style="width:{{progress}}%"></div>
            </div>

            <span class="phonetic">[ {{token.ph.en}} ] [ {{token.ph.us}} ]</span>
            <h1 class='en'>{{ce.en}}</h1>

            <div id="good-bad-box">
                {% set best_option = ce.best_option %}
                <p>如果只选1个最有代表性的解释，那么</p>
                <h2 class='cn'>“{{best_option.cn}}”</h2>
                <a id="good-button" class='btn btn-large btn-success' href="javascript:" data-option="{{best_option.cn}}">很好</a>
                <a id="bad-button" class='btn btn-large btn-danger' href="javascript:">不够好</a>
            </div>

            <div id="vote-box" style="display:none">
                <p>你觉得什么解释最简练/有代表性（选项为乱序）：</p>
                {% for option in ce.shuffled_options %}
                <a href="javascript:" class='btn btn-large option'
                   data-option="{{option.cn}}">{{option.cn}}</a>
                {% endfor %}
                <input class="option" type="text" name="option" value=""
                       data-helptext="没好答案就自己输入吧（限1个解释）">
                <a id="submit-button" href="javascript:" class="btn btn-large btn-primary">确认</a>
                <a id="cancel-button" href="javascript:" class="btn btn-large btn-inverse">返回</a>
            </div>

        </div>
    </div>

    <div class="span6 right-box">
        {% from 'macros.html' import references_table %}
        {{ references_table( refs ) }}
    </div>

</div></div><!--/.container-->

{% endblock %}


{% block bottom %}
<script type="text/javascript" src="/static/js/coreexp.js"></script>
{% endblock %}