{% extends "layout.html" %}

{% block main %}

{% from 'macros.html' import pagination %}

<div id="coreexp-list-page" class="container ">

    <ul class="nav nav-pills pull-left">
        <li {% if request.args.channels == '-closed,-hidden' or not request.args.channels %}class="active"{% endif %}>
            <a href="javascript:change_param('channels', '-closed,-hidden')">开放（未隐藏）</a>
        </li>
        <li {% if request.args.channels == 'closed,-hidden' %}class="active"{% endif %}>
            <a href="javascript:change_param('channels', 'closed,-hidden')">已关闭（未隐藏）</a>
        </li>
        <li {% if request.args.channels == '-hidden' %}class="active"{% endif %}>
        <a href="javascript:change_param('channels', '-hidden')">未隐藏</a>
        </li>
        <li {% if request.args.channels == 'hidden' %}class="active"{% endif %}>
            <a href="javascript:change_param('channels', 'hidden')">已隐藏</a>
        </li>
        <li {% if request.args.channels == 'all' %}class="active"{% endif %}>
            <a href="javascript:change_param('channels', 'all')">全部</a>
        </li>
        <!--li {% if request.args.channel == 'auto_close' %}class="active"{% endif %}>
        <a href="javascript:change_param('channel', 'auto_close')">自动关闭候选</a>
        </li-->
    </ul>

    <div class="pull-right">{{ pagination( pager.current, pager.total ) }}</div>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 180px;">
                    单词
                </th>
                <th>
                    结果
                    <a id="auto-close-button" href="{{url_for('.auto_hide')}}" class="pull-right">自动隐藏</a>
                    <a id="auto-hide-button" href="{{url_for('.auto_close')}}" class="pull-right">自动关闭</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for ce in ce_list %}
            <tr>
                <td class="en">
                    <h3 title="{{ce.log_html}}">{{ce.en}}</h3>
                    <span class="label {% if 'closed' in ce.tags %}label-success{% endif %}"
                          data-id="{{ce._id}}"
                          data-tag="closed"
                    >关闭</span>
                </td>
                <td class="answer">
                    <ul>
                    {% for option in ce.ordered_options %}
                        <li>
                            <p>
                                <span class="cn">{{option.cn}}</span>

                                <a href="javascript:" {% if option.tag == 'best' %} class="tagged" {% endif %}
                                   data-option="{{option.cn}}" data-tag="best" data-id="{{ce._id}}">最佳</a>
                                <a href="javascript:" {% if option.tag == 'bad' %} class="tagged" {% endif %}
                                   data-option="{{option.cn}}" data-tag="bad" data-id="{{ce._id}}">最差</a>
                                <a href="javascript:"
                                data-option="{{option.cn}}" data-tag="" data-id="{{ce._id}}">None</a>
                            </p><br/>
                            <span class="label label-warning {{option.tag}}" style="width:{{option.voters|length * 10}}px">{{option.voters | length }}</span>
                            <p class="voters">【{{option.editor}}】{{option.voters | join(', ')}}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pull-right">{{ pagination( pager.current, pager.total ) }}</div>

</div><!--/.container-->

{% endblock %}


{% block bottom %}
<script type="text/javascript" src="/static/js/coreexp-list.js"></script>
{% endblock %}