{% extends "layout.html" %}

{% block main %}
<div id="login-page" class="container "><div class="row">
    <div class="span3">&nbsp;</div>

    <div class="span6">
        <form id="login" class="form-horizontal" method="POST" action="/login">
            <fieldset>
                <div class="control-group" id="info">
                    <label class="control-label"></label>
                    <div class="controls">
                        新用户 输入用户名和密码直接注册登录
                    </div>
                </div>
                <div class="control-group" id="foreign">
                    <label class="control-label">用户名</label>
                    <div class="controls">
                        <input class="input-xlarge" name="name" value="">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">密码</label>

                    <div class="controls">
                        <input type="password" class="input-xlarge" name="password" value="">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>

                    <div class="controls">
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-ok icon-white"></i>
                            登录
                        </button>
                    </div>
                </div>
            </fieldset>


        </form>
    </div>

    <div class="span3">&nbsp;</div>
</div></div>


{% endblock %}



{% block bottom %}
<script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}