{% macro pagination(current_page, total_page) %}
<div class="pagination">
    <ul>
        <li class="prev"><a href="javascript:change_page(1)">1</a></li>
        <li><a href="javascript:change_page({{[1,current_page-1]|max}})">&larr;</a></li>
        <li class="disabled"><a>{{current_page}}</a></li>
        <li><a href="javascript:change_page({{[total_page,current_page+1]|min}})">&rarr;</a></li>
        <li class="next"><a href="javascript:change_page({{total_page}})">{{total_page}}</a></li>
    </ul>
</div>
{% endmacro %}

{% macro references_table(reference_tokens) %}
<table class="table">
    <thead>
    <tr>
        <th>参考含义</th>
        <th>源</th>
    </tr>
    </thead>
    <tbody>
    {% for ref in reference_tokens %}
    <tr>
        <td>{{ref.exp|safe}}</td>
        <td>{{ref.src|safe}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro alerts() %}
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for alert_class, message in messages %}
    <div class="alert {{alert_class}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
{% endmacro %}