<select class="span1" name="course_select" id="course_select">
    <option>ALL</option>
    {% for course in page_info.course_list %}
    <option>{{course}}</option>
    {% endfor %}
</select>

<select class="span2" name="flaw_select" id="flaw_select">
    <option>ALL</option>
    {% for flaw in page_info.flaw_list %}
    <option>{{flaw}}</option>
    {% endfor %}
</select>

<input id="no_trash" name="no_trash" type="checkbox" checked>

<input id="search_word" value="{{search_word}}" class="span3">

<ul id="token_list" class="unstyled">
    {% for _token in page_info.token_list %}
        {% if _token.en == token.en %}
    <li class="active">
        {% else %}
    <li>
        {% endif %}
        <a href="javascript:change_param('token_id', '{{_token._id}}')"
            {%if _token.is_trash%}disabled{%endif%}
        >{{_token.en}}</a>
    </li>
    {% endfor %}
</ul>

{% from 'macros.html' import pagination %}
{{ pagination( page_info.pager.current, page_info.pager.total ) }}



