{% extends "layout.html" %}

{% block main %}
<div id="tokens-page" class="container"><div class="row">

    <div class="span3 sidebar">{% include 'sidebar.html' %}</div>

    <div class="span9">
        {% from 'macros.html' import alerts, references_table %}
        {{ alerts() }}

        <ul class="nav nav-tabs">
            <li {%if mode=='edit'%}class="active"{%endif%}>
                <a href="javascript:change_param('mode', 'edit')">编辑</a>
            </li>
            <li {%if mode=='preview'%}class="active"{%endif%}>
                <a href="javascript:change_param('mode', 'preview')">预览</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane{% if mode=="edit" %} active {% endif %}" id="edit-pane">
                {% include  "tokens-editform.html" %}
            </div>


            <div class="tab-pane{% if mode=="preview" %} active {% endif %}" id="preview-pane">
                {% include "tokens-preview.html" %}
            </div>

        </div>




    </div><!--/.span9-->
</div></div>
{% endblock %}



{% block bottom %}
{% raw %}
<script type="text/html" id="_foreign_input">
    <li>
        <input class="input-xlarge" name="foreign.text" value="">
        <input class="input-mini" name="foreign.type" value="">
    </li>
</script>

<script type="text/html" id="_chinese_li">
    <li>
        <input name="chinese.POSs" value="" class="input-small" placeholder="词性（空）">
        <input name="chinese.text" value="" class="input-xlarge" placeholder="含义（空）">
    </li>
</script>

<script type="text/html" id="_freq_ngram_table_tr">
    {{#freq_list}}
    <tr>
        <td class="freq">{{count}}</td>
        <td class="ngram">{{ngram}}</td>
        <td><input type="checkbox"></td>
    </tr>
    {{/freq_list}}
</script>

<script type="text/html" id="_freq_20k_table_tr">
    {{#freq_list}}
    <tr>
        <td class="freq"><a href="javascript:void(0)">{{count}}</a></td>
        <td class="word">{{word}}</td>
    </tr>
    {{/freq_list}}
</script>

<script type="text/html" id="_course_input">
    <input name="course" value="" class="input-mini">
</script>
{% endraw %}

<script type="text/javascript" src="/static/js/tokens.js"></script>
{% endblock %}